<!DOCTYPE html>
<html>
<head>
  <title>gregslist</title>
  <link rel="stylesheet" type="text/css" href="../../static/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../static/styles.css">
</head>
<body>
  <!-- boilerplate bootstrap navbar -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">gregslist</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> sign up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> login</a></li>
        <li><button class="btn btn-primary btn-sm navbar-btn add-btn">post something!</button></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 box">
        <h1 class="align-to-categories">jobs</h1>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">finance</a>
          <a href="#" class="list-group-item list-group-item-action">office</a>
          <a href="#" class="list-group-item list-group-item-action">art</a>
          <a href="#" class="list-group-item list-group-item-action">science</a>
          <a href="#" class="list-group-item list-group-item-action">retail</a>
          <a href="#" class="list-group-item list-group-item-action">software</a>
          <a href="#" class="list-group-item list-group-item-action">media</a>
          <a href="#" class="list-group-item list-group-item-action">web</a>
          <a href="#" class="list-group-item list-group-item-action">government</a>
          <a href="#" class="list-group-item list-group-item-action">legal</a>
          <a href="#" class="list-group-item list-group-item-action">marketing</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 box">
        <h1 class="align-to-categories">stuff</h1>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">antiques</a>
          <a href="#" class="list-group-item list-group-item-action">home furnishings</a>
          <a href="#" class="list-group-item list-group-item-action">art</a>
          <a href="#" class="list-group-item list-group-item-action">outdoors</a>
          <a href="#" class="list-group-item list-group-item-action">electronics</a>
          <a href="#" class="list-group-item list-group-item-action">computers</a>
          <a href="#" class="list-group-item list-group-item-action">jewelry</a>
          <a href="#" class="list-group-item list-group-item-action">apparel</a>
          <a href="#" class="list-group-item list-group-item-action">tickets</a>
          <a href="#" class="list-group-item list-group-item-action">games</a>
          <a href="#" class="list-group-item list-group-item-action">free</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 box">
        <h1 class="align-to-categories">space</h1>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">apartments</a>
          <a href="#" class="list-group-item list-group-item-action">homes</a>
          <a href="#" class="list-group-item list-group-item-action">office</a>
          <a href="#" class="list-group-item list-group-item-action">parking</a>
          <a href="#" class="list-group-item list-group-item-action">for sale</a>
          <a href="#" class="list-group-item list-group-item-action">rooms</a>
          <a href="#" class="list-group-item list-group-item-action">vacation rentals</a>
          <a href="#" class="list-group-item list-group-item-action">sublets</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>