<!DOCTYPE html>
<html>
<head>
  <title>gregslist</title>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <!-- boilerplate bootstrap navbar -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">gregslist</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> sign up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> login</a></li>
        <li><button class="btn btn-primary btn-sm navbar-btn add-btn">post something!</button></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 box">
        <form>
          <div class="form-group">
            <label for="category">choose a category</label>
            <select class="form-control" id="category">
              <option>jobs</option>
              <option>stuff</option>
              <option>space</option>
            </select>
          </div>
          <div class="form-group">
            <label for="title">title</label>
            <input type="text" class="form-control" id="title" placeholder="">
          </div>
          <div class="form-group">
            <label for="text-area">detailed description</label>
            <textarea class="form-control" id="text-area" rows="10"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">submit</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>