{% extends "base.html" %}
{% block content %}
{{ render_flashed_message() | safe }}
    <div class="row">
      {{ job_categories | safe }}
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 box">
        <h1 class="align-to-categories">stuff</h1>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">antiques</a>
          <a href="#" class="list-group-item list-group-item-action">home furnishings</a>
          <a href="#" class="list-group-item list-group-item-action">art</a>
          <a href="#" class="list-group-item list-group-item-action">outdoors</a>
          <a href="#" class="list-group-item list-group-item-action">electronics</a>
          <a href="#" class="list-group-item list-group-item-action">computers</a>
          <a href="#" class="list-group-item list-group-item-action">jewelry</a>
          <a href="#" class="list-group-item list-group-item-action">apparel</a>
          <a href="#" class="list-group-item list-group-item-action">tickets</a>
          <a href="#" class="list-group-item list-group-item-action">games</a>
          <a href="#" class="list-group-item list-group-item-action">free</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 box">
        <h1 class="align-to-categories">space</h1>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">apartments</a>
          <a href="#" class="list-group-item list-group-item-action">homes</a>
          <a href="#" class="list-group-item list-group-item-action">office</a>
          <a href="#" class="list-group-item list-group-item-action">parking</a>
          <a href="#" class="list-group-item list-group-item-action">for sale</a>
          <a href="#" class="list-group-item list-group-item-action">rooms</a>
          <a href="#" class="list-group-item list-group-item-action">vacation rentals</a>
          <a href="#" class="list-group-item list-group-item-action">sublets</a>
        </div>
      </div>
    </div>
{% endblock %}
