{% extends "base.html" %}
{% block content %}
{{ render_flashed_message() | safe }}
    <h1 class="align-to-categories">{{ post.title }}</h1>
    {% if post_type == "job" %}
    {{ render_job_specific_items(post) | safe }}
    {% endif %}
    <div class="row">
      <div class="col-xs-12">
        <div class="list-group">
          <div class="align-to-categories"><h4>description</h4></div>
          <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">{{ post.description }}</div>
        </div>
      </div>
    </div>
    {% if is_owner %}
    <div>
      <a href="{{ url_for('editPost', post_id=post.id) }}">
        <button type="button" class="btn btn-default">edit</button>
      </a>
      <a href="{{ url_for('deletePost', post_id=post.id) }}">
        <button type="button" class="btn btn-default">delete</button>
      </a>
    </div>
    {% endif %}
{% endblock %}