{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h1 class="align-to-categories">{{ post.title }}</h1>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">{{ post.description }}
      </a>
    </div>
    <div>
      <a href="{{ url_for('editPost', post_id=post.id) }}">
        <button type="button" class="btn btn-default">edit</button>
      </a>
      <a href="{{ url_for('deletePost', post_id=post.id) }}">
        <button type="button" class="btn btn-default">delete</button>
      </a>
    </div>
  </div>
{% endblock %}