    <div class="row">
      <div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
        <div class="list-group">
        {% if post.price %}
          <div class="align-to-categories"><h4>price</h4></div>
          <div href="#" class="list-group-item list-group-item-action">{{ post.price }}</div>
          <br>
        {% endif %}
        {% if post.street and post.city and post.state and post.zip %}
          <div class="align-to-categories"><h4>location</h4></div>
          <div href="#" class="list-group-item list-group-item-action">
          {{ post.street }}
          <br>
          {{ post.city }}, {{ post.state }} {{ post.zip }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>