
{% extends "base.html" %}
{% block content %}
        <h2><i>all restaurants</i></h2>
        <a href="/restaurants/new">Add New Restaurant</a>
        <hr>
        <!-- render restaurants if exist -->
        {% if restaurants %}
        {% for restaurant in restaurants %}
        <h4>{{restaurant.name}}</h4>
        <form method="POST" enctype="multipart/form-data">
                <input name="edit={{restaurant.id}}" type="submit"  value="Edit">
                <input name="delete={{restaurant.id}}" type="submit" value="Delete">
        </form>
        {% endfor %}
        {% endif %}
{% endblock %}

 <!-- style="background: none; border: none; padding:0; cursor: pointer; padding:0px 0px;" -->